In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./csv/Choice.csv")

In [6]:
df.head()

   Unnamed: 0       ID              Name  Season  Last_ep  Aired on
0           0  1520211  The Walking Dead      10      NaN       NaN

In [5]:
df.drop_duplicates(inplace = True)

In [7]:
for i in df.index:
    print(df["ID"][i])

1520211