In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("./movies.db")
c =conn.cursor()

df  = pd.read_csv("./csv/Current.csv",index_col=[0])

In [2]:
df.head()

        ID                Name  Season                 Last_ep    Aired on
0  1520211    The Walking Dead      10               The Tower  2020-04-05
1  2467372  Brooklyn Nine-Nine       7            Valloweaster  2020-04-09
2  3526078      Schitt's Creek       6            Happy Ending  2020-04-07
3  2861424      Rick and Morty       4  Rattlestar Ricklactica  2019-12-15
4  8531222                Dave       1     What Wood You Wear?  2020-04-08

In [ ]:
for i,row in df:
    c.execute("INSERT INTO series VALUES((?),(?),(?),(?),(?))",[int(row["ID"]),row["Name"],row["Season"],row["Last_ep"],row["Aired on"]])
    conn.commit()